<div class="pancake">
  <form (ngSubmit)="getItems()" [formGroup]="yelpForm">
    <label>City</label>
    <input formControlName="city" placeholder="City of Choice"/>
    <label>State</label>
    <select formControlName="state">
      <option value="null">Pick a State</option>
      <option value="Alabama">Alabama</option>
      <option value="Alaska">Alaska</option>
      <option value="Arizona">Arizona</option>
      <option value="Arkansas">Arkansas</option>
      <option value="California">California</option>
      <option value="Colorado">Colorado</option>
      <option value="Connecticut">Connecticut</option>
      <option value="Delaware">Delaware</option>
      <option value="Florida">Florida</option>
      <option value="Georgia">Georgia</option>
      <option value="Hawaii">Hawaii</option>
      <option value="Idaho">Idaho</option>
      <option value="Illinois">Illinois</option>
      <option value="Iowa">Iowa</option>
      <option value="Kansas">Kansas</option>
      <option value="Kentucky">Kentucky</option>
      <option value="Louisiana">Louisiana</option>
      <option value="Maine">Maine</option>
      <option value="Maryland">Maryland</option>
      <option value="Massachesetts">Massachesetts</option>
      <option value="Michigan">Michigan</option>
      <option value="Minnesota">Minnesota</option>
      <option value="Missouri">Missouri</option>
      <option value="Montana">Montana</option>
      <option value="Nebraska">Nebraska</option>
      <option value="Nevada">Nevada</option>
      <option value="New Hampshire">New Hampshire</option>
      <option value="New Jersey">New Jersey</option>
      <option value="New Mexico">New Mexico</option>
      <option value="New York">New York</option>
      <option value="North Carolina">North Carolina</option>
      <option value="North Dakota">North Dakota</option>
      <option value="Ohio">Ohio</option>
      <option value="Oklahoma">Oklahoma</option>
      <option value="Oregon">Oregon</option>
      <option value="Pennsylvania">Pennsylvania</option>
      <option value="Rhode Island">Rhode Island</option>
      <option value="South Carolina">South Carolina</option>
      <option value="South Dakota">South Dakota</option>
      <option value="Tennessee">Tennessee</option>
      <option value="Texas">Texas</option>
      <option value="Utah">Utah</option>
      <option value="Vermont">Vermont</option>
      <option value="Virginia">Virginia</option>
      <option value="Washington">Washington</option>
      <option value="West Virginia">West Virginia</option>
      <option value="Wisconsin">Wisconsin</option>
      <option value="Wyoming">Wyoming</option>
    </select>
    <select formControlName="prices">
        <option value="null">Pick a Range</option>
        <option value="1">$</option>
        <option value="2">$$</option>
        <option value="3">$$$</option>
        <option value="4">$$$$</option>
      </select>
    <button mat-raised-button type="submit">Noms</button>
  </form>

  <div  *ngIf='food'>
    <div>
      <h2>{{food.name}}</h2>
      <div>
        <p>Phone Number: {{food.phone}}</p>
        <p>Address: {{food.location.address1}}<br />{{food.location.city}} {{food.location.state}}
          {{food.location.zip_code}}</p>
          <p>{{food.hours}}</p>
          <p>{{food.transactions}}</p>
          <div *ngIf='food.rating === 5'><img src="../../assets/yelp/regular_5.png" /></div>
          <div *ngIf='food.rating === 4.5'><img src="../../assets/yelp/regular_4.5.png" /></div>
          <div *ngIf='food.rating === 4'><img src="../../assets/yelp/regular_4.png" /></div>
          <div *ngIf='food.rating === 3.5'><img src="../../assets/yelp/regular_3.5.png" /></div>
          <div *ngIf='food.rating === 3'><img src="../../assets/yelp/regular_3.png" /></div>
          <div *ngIf='food.rating === 2.5'><img src="../../assets/yelp/regular_2.5.png" /></div>
          <div *ngIf='food.rating === 2'><img src="../../assets/yelp/regular_2.png" /></div>
          <div *ngIf='food.rating === 1.5'><img src="../../assets/yelp/regular_1.5.png" /></div>
          <div *ngIf='food.rating === 1'><img src="../../assets/yelp/regular_1.png" /></div>
          <div *ngIf='food.rating === 0'><img src="../../assets/yelp/regular_0.png" /></div>
      </div>
      <img src="{{food.image_url}}" width="25%" height="25%" />
    </div>
  </div>
</div>
